<style>
  body{
  font-size: 14px;
    font-family: "Arial";
    color: #333333;
   line-height: 1;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*--footer--*/
.top-footer iframe{
  width: 100%;
  min-height:300px;
  border: none;
}
.top-footer1 h2 {
  font-size: 2em;
  color: #52d0c4;
    font-family: 'Time News Roman';
      margin: 0 0 0.5em;
}
.top-footer1 input[type="text"] {
  width: 65%;
  padding: 0.6em;
  outline: none;
  color: #BDBDBD;
  font-size: 1em;
  background: none;
  border: 1px solid #BDBDBD;
}
.top-footer1 input[type="submit"] {
  font-size: 0.9em;
  color: #fff;
  background-color:#000;
  border: none;
  padding: 0.8em 0em;
  width: 30%;
  vertical-align: top;
  outline: none;
}
.top-footer1 input[type="submit"]:hover {
  background-color:#52d0c4;
}
.footer {
  border-top: 1px solid #BDBDBD;
}
.footer-top {
  padding: 3em 0 ;
}
.top-footer1 {
  margin: 6em 0 0;
}

/***==============menu=====================***/

.clear {clear: both; font-size: 0px; line-height: 0px; height:0;}
p {margin:0px;padding:5px 0px;}
ol,ul { list-style: none;}


#vnt-menutop{
   width: 100%;
}
#vnt-menutop .menu-fixed{
  width: 100%;
    top: -100%;
}
#vnt-menutop .menu-fixed.active{
    width: 100%;
    min-width: 1200px;
    position: fixed;
    background-color:#ffffff;
    z-index: 100;
    top:0px;
    left: 0px;
   -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,1.3);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,1.3);
    box-shadow: 0px 0px 5px rgba(0,0,0,1.3);
}
#vnt-menutop .menutop{
  width: 1170px;
  margin: 0px auto;
  display:table;
  position: relative;
}
.menutop ul{
  margin: 0px;
  display:table-row;
}
.menutop ul li{
  
  display: table-cell;
  float: left;
  position: relative;
}
.menutop ul li a{
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #201e33;
  padding: 10px 18px;
  display: inline-block;
  font-family: Arial;
  

}
#vnt-menutop .menutop ul li a:hover{
  color: #00abe5;
  text-decoration: none;
}
#vnt-menutop .menutop ul li a:hover .careti
{
  background: url('images/menu_cha2.png')  no-repeat ;
}
#vnt-menutop .menutop ul li.current a
{
  color: #00abe5;
}
.menutop ul li a .careti{
  display: inline-block;
  background: url('images/menu_cha1.png') no-repeat;
  width: 9px;
  height: 9px;
}


.menutop ul ul li{
  display: block;
  display: table-cell;
  float: left;
  position: relative;
}

#vnt-menutop .menutop ul li ul{
  background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0px;
    box-shadow: none;
    visibility: hidden;
    /*opacity: 0;
    -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;*/
    z-index: 999999;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
/**/
#vnt-menutop .menutop ul li:hover ul{
    top: 100%;
    visibility: visible;
    opacity: 1;
}


#vnt-menutop .menutop ul ul li{
    width: 100%;
    position: relative;
    background: url('images/menu_con.png') top 15px left 20px no-repeat #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}
#vnt-menutop .menutop ul ul li a{
  display: block;
  white-space: nowrap;
    padding: 10px;
    /*-webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;*/
  border-bottom: 1px solid #e5e5e5;
   width: 100%;
   padding-left: 15px;
   text-transform: uppercase;
   font-size: 13px;
    line-height: 20px;
    color: #414141;
   font-family: Arial;
}
#vnt-menutop .menutop ul ul li:last-child{
  border-bottom: none;
}
